# This is a basic workflow to help you get started with Actions
name: run All

on:
  schedule:
    - cron: '25 20 * * *'  # Weekdays at 5:30 AM KST
    - cron: '25 2 * * *'   # Weekdays at 11:30 AM KST
    - cron: '25 8 * * *'   # Weekdays at 5:30 PM KST
    - cron: '25 13 * * *'   # Weekdays at 10:30 PM KST
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/junghh21/venv_time:latest
      credentials:
        username: ${{ github.actor }}
        password: ${{ secrets.PAT3 }}
    timeout-minutes: 60  # Just under 6 hours
    environment: env
    env:
      PYTHONIOENCODING: utf-8
      PYTHONLEGACYWINDOWSSTDIO: utf-8
      PAT_VAR: ${{ vars.PAT }}
      #TEST_VAR: ${{ vars.TEST }}
      #PAT_SECRET: ${{ secrets.PAT }}
      #TEST_SECRET: ${{ secrets.TEST }}
    steps:     
    - name: Checkout GATHER1
      run: |
        git clone https://${{ secrets.PAT2 }}@github.com/junghh21/GATHER1.git 
        cd GATHER1 
        python main.py
        sleep 5
        cd ..
    # - name: Checkout TIME1
    #   run: |
    #     git clone --branch 8MambaMOE_v1 https://${{ secrets.PAT2 }}@github.com/junghh21/TIME1.git
    #     cd TIME1 
    #     python main.py
    #     sleep 5
    #     git reset --hard && git checkout mamba_moe_v2_mixsel1_excl        
    #     sleep 5
    #     python main.py
    #     sleep 5
    #     git reset --hard && git checkout mamba_moe_v2_mixsel_excl_arg_mean2
    #     sleep 5
    #     python main.py
    #     sleep 5
    #     git reset --hard && git checkout mamba_5h_v1
    #     sleep 5
    #     python main.py
    #     sleep 5
    #     git reset --hard && git checkout mamba_5H_v2_NG
    #     sleep 5

